<nav class="navbar  navbar-expand-lg sticky-top navbar-light justify-content-between" style="background-color: #a186da;">
    <a class="navbar-brand" href="#">
      <img src="public/img/cake.png" width="30" height="30" class="d-inline-block align-top" alt="">
      BakeryStreet
    </a>
    <button class="navbar-toggler my-2" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/"><b>Home </b><span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/"><b>Catalog</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/reg"><b>Registration Form</b></a>       
        </li>
      </ul>
    </div>
      <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
     
    </form>
    <h1>   </h1>
     <button onclick = "myMove()" class="btn btn-outline-success my-2 my-sm-0 btn-light" style="background-color: #a186da;" type="submit"><h6>Search</h6></button>
</nav>