<!DOCTYPE html>
<html>
<head>
    <style>

    </style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script type="text/javascript">
        var map;

        DG.then(function () {
            map = DG.map('map', {
                center: [51.09050550734739, 71.41860184800721],
                zoom: 13
            });

            DG.marker([51.09050550734739, 71.41860184800721]).addTo(map);
        });
    </script>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="public/css/glav.css">
 <link rel="stylesheet" href="public/css/prod.css">
  <title>Sweet Street</title>
<link href="public/css/stylesproduct.css" rel="stylesheet">

</head>
<body>


<%- include ('nav.ejs') %>

<br></br>
<div class="container">
<div class="col-md-12">
<section class="panel">
      <div class="panel-body">
          <div class="col-md-6">
              <div class="pro-img-details">
                  <img src="https://academy.oetker.ru/upload/resize_cache/iblock/ae5/1200_1060_1/ae57b5a9be8636c384180346d7f42392.jpg" alt="">
              </div>
              <div class="pro-img-list">
                  <a href="#">
                      <img src="https://avatars.mds.yandex.net/get-zen_doc/3403845/pub_5e9fe7408132b1349425c5ca_5e9ff47265d5b620781f14d7/scale_1200" width="115" height="100" alt="">
                  </a>
                  <a href="#">
                      <img src="https://i.ytimg.com/vi/h3uq_hzGC2s/maxresdefault.jpg" width="115" height="100" alt="">
                  </a>
                  <a href="#">
                      <img src="https://avatars.mds.yandex.net/i?id=d02da840ab99f7b15a4812ec3a169c71-5273084-images-thumbs&n=13&exp=1" width="115" height="100" alt="">
                  </a>
                  <a href="#">
                      <img src="https://im0-tub-ru.yandex.net/i?id=b7005ddf16f90b4345fc2181a47f7e43-l&ref=rim&n=13&w=960&h=960" width="115" height="100" alt="">
                  </a>
              </div>
          </div>
          <div class="col-md-6">
              <h4 class="pro-d-title">
                  <a href="#" class="">
                      Whoopie Pie Cake
                  </a>
              </h4>
              <p>   
<h3> Ingredients:<h3>
<h5>Cake: Unsalted butter, brown sugar, granulated sugar, large egg, pure vanilla extract, cup all-purpose flour, cup unsweetened cocoa, baking soda, salt, cups milk </h5>

<h5> Filling: Unsalted butter, cups powdered sugar sifted, marshmallow fluff, vanilla extract, tsp salt, milk or heavy cream <h5>
              </p>
              <div class="form-group">
                  <label>Quantity</label>
                  <input type="quantiy" placeholder="1" class="form-control quantity">
              </div>
              <p>
                  <button class="btn btn-round btn-danger" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
              </p>
          </div>
      </div>
  </section>
  </div>
  </div>

<div>
    <div id="map" style="width:500px; height:400px; margin-left: 15%" ></div>
</div>

</body>